body {
	font: 14px/20px arial, times new roman;
	background-color: #008b8b;
	}

.container{
	width: 1000px;
	height: 600px;
	background-color: maroon;
	border: 10px black solid;
	position: relative;
	top: 20px;
	left: 200px;
}
.heading {
	background-color: white;
	height: 100px;
	border-bottom: 10px solid black;
}
.heading h1 {
	text-align: center;
	padding: 40px 20px;
	font-size: 30px;
	font-weight: bold;
}
.heading a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: navy;
	padding: 7px;
	border-radius: 10px;
	float: right;
	margin-right: 10px;
	margin-top: -90px;
	border: 5px solid black;
}
.heading a:hover {
	background-color: lightskyblue;
}

/*konten*/

.konten-side{
	display: inline-block;
	width: 350px;
	height: 500px;
	line-height: 170px;
	border-right: 10px solid black;
	box-sizing: border-box;
}
.konten-side p {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-bottom: 7px solid black;
	box-sizing: border-box;
	margin-top: -11px;
}
.konten-kanan {
	float: right;
	display: inline-block;
	width: 650px;
	height: 500px;
	box-sizing: border-box;
}
.konten-kanan p {
	font-size: 20px;
	font-weight: bold;
	line-height: 99px;
	padding: 30px 50px;
	border-bottom: 7px solid black;
	box-sizing: border-box;
	color: white;
	text-align: center;
}